<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/views/style.css">
    <title><%= title %></title>
  </head>
  <body>
    <ul style="display: flex; list-style: none; background: aqua; justify-content: space-between; height: 2rem; align-items: center; ">
      <li ><a href="/" style="text-decoration: none;">Home</a></li>
      <li><a href="/about" style="text-decoration: none;"> about </a></li>
      <li><a href="/404" style="text-decoration: none;"> 404</a></li>
      <li><a href="/contact" style="text-decoration: none;">Contact</a></li>
      <li><a href="/articles" style="text-decoration: none;">articles</a></li>
    </ul>
    
    
    
    